aside {
    background-color: #424242;
    float: left;
    width: 214px;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
    overflow: hidden;
}

aside > nav > ul {
    margin: 0;
    padding-left: 0;
    border-bottom: #666 solid 1px;
    /*todo: center bullets */
}

aside > nav > ul > li:first-child {
    /*list-style-image: url(/_img/bookmark_bullet.png);*/
    margin-top: 2px;
}

/*noinspection CssNoGenericFontName*/
aside > nav > ul > li:before {
    content: '\f0e8';
    font-family: FontAwesome;
    font-size: 15px;
    /*font-weight: 100; todo: lighter with effect*/
    color: white;
    display: inline-block;
    position: relative;
    left: -12px;
    top: -1px;
}

aside > nav > ul > li:first-child:before {
    content: '\f02e';
}

aside > nav > ul > li {
    border-top: #666 solid 1px;
    font-family: 'Oswald Regular', 'Myriad Pro', Arial, sans-serif;
    font-size: 16pt;
    list-style: none;
    /*url(/_img/tree_bullet.png)*/
    /*margin-left: -50px;*/
    padding: 16px 0 16px 30px;
}

aside > nav > ul > li > a {
    color: #fff;
    text-transform: uppercase;
}

aside > nav > ul > li.selected {
    background-color: #212121;
    border-top: 0;
}

aside > nav > ul > li.selected + * {
    border-top: 0;
}

aside > nav > ul ul {
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
}

aside > nav > ul > li li {
    list-style: none;
    background-color: #212121;
    padding-top: 16px;
    padding-bottom: 16px;
}

aside > nav > ul > li li > a {
    color: #757575;
}

aside > nav > ul li.selected {
    padding-bottom: 0;
}

aside > nav > ul > li li.selected > a {
    color: #fff;
}

aside > nav > ul li.expanded > a:after {
    content: url(/_img/copy.png);
    float: right;
    position: relative;
    top: -6px;
    right: 19px;
}

