@import 'top-panel.css';
@import 'left-menu.css';
@import 'tool-box.css';
@import 'main-content-tabs.css';
@import 'main-content-block.css';

@font-face {
    font-family: FontAwesome;
    src: url(/_fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'Oswald Regular';
    src: url(/_fonts/Oswald-Regular.ttf);
}

html {
    min-width: 1024px;
    font-family: 'Oswald Regular', sans-serif;
}

* { margin: 0; padding: 0 }
a { text-decoration: none; }