body > header {
    background-color: #3f51b5;
    position: relative;
    padding-bottom: 60px;
    min-width: 467px;
}

body > header > * {
    display: inline-block;
}

#menuButton {
    background-color: #424242;
    padding: 20px 18px; /*todo: разобраться почему размеры не совпадают должно быть 22 18*/
}

#logo {
    background-color: #283593;
    padding: 11px 26px 8px 17px;
}

#menuButton,
#logo {
    float: left;
}

#search {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 192px;
    min-width: 100px; /* todo: make sure min-width */
}

#search > input {
    margin: 14px 15px;
    max-width: 192px;
    min-width: 100px; /* todo: make sure min-width */
    height: 13px;
    background-color: #283593;
    border: 0;
    border-radius: 13px;
    padding: 11px 20px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #5c6bc0;
    font-size: 10pt;
}

/*#search > input:before {*/
/*content: "h";*/
/*font-family: 'FontAwesome';*/
/*position: absolute;*/
/*left: 20px;*/
/*}*/

#search,
#avatar {
    float: right;
}

#avatar {
    margin: 11px 8px 6px 0;
}